# Dataset to load
dataset=llm # train,val,test,trvt,llm,human,compare,output, eda

# Whether to load already reviewed rows or not
show_reviewed=false # true, false

# Filter by matchings
show_matchings=both # both, true, false

DB_URL_CORE="postgresql://user:pass@127.0.0.1:5432/isee_core"
